/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #7e726f;
  --secondary: #ea5433;
  --text: #666564;
  --bg: #fef9f7;
  --sub-text: #9b9ea1;
  --header: #635652;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.item-align {
  align-items: center;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-25 {
  flex: 0 1 25%;
}
.flex-20 {
  width: 20%;
}
.flex-40 {
  flex: 0 1 35%;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.width-full {
  width: 100%;
}
.padding {
  padding: 2.5rem 0;
}
a {
  text-decoration: none;
}
.font-0 {
  font-size: 0;
}
.btn {
  background-color: var(--secondary);
  color: white;
  padding: 0.4rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
}
.btn1 {
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #fff !important;
}
.nav li {
  margin-left: 1.4rem;
}
.relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.margin {
  margin: 2rem 0;
}
.header-text {
  color: var(--primary);
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.para-text {
  color: var(--text);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.active {
  color: var(--secondary);
}
#toggle,
.bars {
  display: none;
}
/* header */
.header a {
  color: var(--header);
}
.header h2 {
  font-size: 1.2rem;
}
.sub-menu {
  position: absolute;
  background-color: aliceblue;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  width: 8rem;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%);
  display: none;
  top: 25px;
  padding: 1.1rem 0;
}
.sub-menu2 {
  display: none;
  position: absolute;
  color: white;
  left: 95%;
  transform: translate(-1%);
  top: 25px;
  background-color: aliceblue;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  width: 8rem;
  border-radius: 3px;
}
.drop-menu2:hover .sub-menu2 {
  display: inline-block;
}
.drop-menu1:hover .sub-menu {
  display: inline-block;
}
/* section 1 */
.section1 {
  background-image: url("../media/hero-bg.jpg");
  background-size: cover;
  height: 350px;
}
.orange-box {
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 5px;
}
.orange-box h2 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 0.8rem;
  color: white;
}
.orange-box p {
  color: white;
}
.btn-color {
  background-color: #ec7048;
  border-radius: 20px;
}
.white-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  text-align: center;
  color: var(--text);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
.white-box i {
  color: var(--secondary);
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
}
h1 {
  font-size: 2.4rem;
  color: white;
}
.Started-btn {
  margin: 2rem 0 1rem 0;
}
.box-article {
  position: absolute;
  top: 100%;
}
.sub-header {
  color: white;
}
/* section 2 */
.section2 {
  background-color: var(--bg);
}
.margin-top {
  margin-top: 250px;
}
.gift {
  background-color: white;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid var(--secondary);
  margin-right: 0.6rem;
}
.gift i {
  color: var(--secondary);
}
/* section 3 */
.flex-container {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: 140px;
  padding: 1rem 0;
}
/* section 4 */
.service-icon {
  background-color: var(--secondary);
  height: 50px;
  border-radius: 50%;
  padding-top: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: absolute;
  top: -15%;
  left: 43%;
}
.service-icon i {
  color: rgba(255, 255, 255, 0.9);
}
.service-text {
  color: var(--primary);
  text-transform: uppercase;
  margin: 0.7rem 0;
  font-size: 0.9rem;
}
/* service 5 */
.card {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  margin: 0 1rem;
}

/*section 6 */
.testimonial-bg {
  background-image: url("../media/testimonials-bg.jpg");
  background-size: cover;
  padding: 4rem;
  color: white;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 80px;
}
.flex-testimonial {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 0;
  height: 300px;
}
.section6-text {
  padding: 0 4rem;
  color: white;
  font-size: 1.1rem;
}
.testimonial-bg h6 {
  color: white;
  font-size: 0.8rem;
}
/* section 7 */
.card1 {
  background-color: white;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 65%;
  margin: 0 1rem;
  display: none;
}
.hidden:hover .card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*section 8 */
.card-team {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  overflow: hidden;
}
.card-team img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card2 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 62%;
  display: none;
}
.card-hover:hover .card2 {
  display: inline-block;
}
.card2 i {
  padding-right: 0.8rem;
}
.padding-team {
  padding: 1.1rem 0;
}
.padding-team h2 {
  font-size: 1.2rem;
}
.padding-team h6 {
  font-size: 0.8rem;
}
/*section 9 */
.box {
  background-color: #f8f8f8;
  padding: 0.9rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box-color {
  background-color: var(--secondary);
}
.box1 {
  background-color: #f8f8f8;
  padding: 0.9rem 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.money {
  font-size: 2rem;
  color: rgb(255, 88, 33);
  font-weight: 600;
  margin-bottom: 10px;
}
.money span {
  color: rgb(186, 186, 186);
  font-size: 16px;
  font-weight: 300;
}
sup {
  font-size: 0.8rem;
  line-height: 0;
  vertical-align: middle;
}
.padding-pricing {
  padding: 0.3rem 0;
  font-size: 0.8rem;
}
.skew {
  position: absolute;
  right: -20px;
  width: 100px;
  background-color: var(--secondary);
  color: white;
  top: 20px;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  transform: rotate(45deg);
  overflow: hidden;
}
/*section 10 */
.card-faq {
  background-color: white;
  width: 75%;
  margin: 10px auto;
  padding: 1rem;
}
/* contact */
.card-contact {
  width: 75%;
  margin: 10px auto;
  padding: 1rem;
}
.shadow {
  box-shadow: 1px 6px 6px 6px rgba(0, 0, 0, 0.3);
}
.card-contact1 {
  width: 100%;
  margin: 10px auto;
  padding: 1rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}
.form-control {
  width: 49%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.text-control {
  width: 98%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
.contact-icon i {
  background-color: white;
  border-radius: 50%;
  border: 2px dashed #fde2d9;
  padding: 0.5rem 0.6rem;
  color: var(--secondary);
  margin-right: 5px;
}
/*section 12 */
.section12-padding {
  padding: 0.5rem 0.3rem 0.5rem 0;
}
.input-box {
  border-radius: 20px;
  border: 1px solid #e9cbc0;
  margin-left: 5px;
  width: 90%;
}
.btn-12 {
  border-radius: 20px;
  margin-left: -20px;
  margin-right: 20px;
  z-index: 1;
}
/*footer */
.icon i {
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 0.5rem;
  color: white;
}
.footer h5,
h6 {
  color: var(--text);
  font-size: 0.7rem;
}
.footer {
  padding: 10px 0;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 8px;
  background-color: var(--secondary);
  border: 0;
}
/* media */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .flex {
    flex-wrap: wrap;
  }
  .flex-100 {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }
  .flex-50 {
    flex: 1 1 50%;
    margin-bottom: 10px;
  }
  .column {
    flex-direction: column;
    justify-content: flex-start;
  }
  .margin-top {
    margin-top: 450px;
  }
  .nav li {
    margin: 16px 0;
  }
  .nav {
    display: none;
  }
  .bars {
    font-size: 28px;
    position: fixed;
    display: inline-block;
    z-index: 99;
    right: 32px;
    top: 16px;
    color: black;
  }
  .brand {
    position: fixed;
    z-index: 99;
    left: 32px;
    top: 16px;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: white;
    z-index: 4;
  }
}
